body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  font-size: 1.3rem;
  border: 1px solid;
  height: 33vh;
  text-align: center;
}
header p{
  margin: 0;
}

header button {
  margin: 3,33%;
}

#language-selection-display {
  display: none;
}

.mode-button {
  display: none;
}

#mode-selection-display {
  display: none;
}

#completion-message {
  font-size: 1.5rem;
  font-weight: bold;
}

#completion-message {
  display: none;
}

#countdown-timer {
  display: none;
  font-size: 2.5rem;
} 

.card-container {
  display: grid;
	grid-template-columns: repeat(5, 1fr);
	/*     grid-template-rows: repeat(4, 1fr); */
	width: 700px;
	/* määrittää koko elementin leveyden ja tämä leveys on se joka alempana
    jaetaan kahteen yhtä suureen osaan */
	margin: auto;
	/* keskittää tämän elementin sekä vertikaalisesti että horisontaalisesti */
	/* jakaa sisällön kahteen yhtä suureen osaan, tässä tapauksessa sisältö on
    neljä diviä, jotka ovat "kortit" */
}

.hidden{
  display: none;
}

.card-container > div {
	/* määrää kaikkien korttien yhteiset ominaisuudet */
	height: 130px;
	margin: 1.66%;
	border-radius: 15%;
	border: 1px solid;
  background-color: rgb(177, 154, 139);
  font-size: 1.2rem;
}

button {
  font-size: 0.9rem;
  border-radius: 7.5%;
}

button:hover {
  font-size: 0.95rem;
  box-shadow: 1px 2px #888888;;
}

.text-card {
	display: none;
	background-color: white;
	height: 100%;
	width: 100%;
	border-radius: 15%;
	text-align: center;
	line-height: 100px;
}

.red-card {
	background: red;
	display: none;
	height: 100%;
	width: 100%;
	border-radius: 15%;
}

.blue-card {
	background: blue;
	display: none;
	height: 100%;
	width: 100%;
	border-radius: 15%;
}

.green-card {
	background: green;
	display: none;
	height: 100%;
	width: 100%;
	border-radius: 15%;
}

.black-card {
	background: black;
	display: none;
	height: 100%;
	width: 100%;
	border-radius: 15%;
}

.white-card {
	background: white;
	display: none;
	height: 100%;
	width: 100%;
	border-radius: 15%;
}

.yellow-card {
	background: yellow;
	display: none;
	height: 100%;
	width: 100%;
	border-radius: 15%;
}

.grey-card {
	background: grey;
	display: none;
	height: 100%;
	width: 100%;
	border-radius: 15%;
}

.orange-card {
	background: orange;
	display: none;
	height: 100%;
	width: 100%;
	border-radius: 15%;
}

.pink-card {
	background: pink;
	display: none;
	height: 100%;
	width: 100%;
	border-radius: 15%;
}

.purple-card {
	background: purple;
	display: none;
	height: 100%;
	width: 100%;
	border-radius: 15%;
}

/*! tämän luokan on tultava viimeisenä kortteihin liittyvistä luokista, 
/*! muuten klikkaa-näytä-sulje ei toimi */
.show {
	display: block;
}


